header,
header navbar,
#home,
.section-title h1,
#features .features-item:hover,
.owl-nav .owl-prev,
.owl-nav .owl-next,
#news-letter form button,
footer {
  background-color: #d70d25 !important;
}

.home-btn,
.about-content ul li svg,
#features .features-item .feature-icon svg,
#testimonial .testi-item .testi-info .testi-info-desc h5,
#contact-us .contact-info svg,
footer .footer-social li a span:hover svg {
  color: #d70d25;
}

#contact-us .contact-form button {
  background-color: #d70d25;
}

#contact-us .contact-form input:focus,
#contact-us .contact-form textarea:focus,
#contact-us .contact-form button {
  border-color: #d70d25;
}

footer .copy-right {
  border-top: 1px solid #e2273d;
}
